<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>Control.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarReservas</servlet-name>
        <servlet-class>Control.listarReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>devolverReserva</servlet-name>
        <servlet-class>Control.devolverReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>devolverServicio</servlet-name>
        <servlet-class>Control.devolverServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>devolverPromocion</servlet-name>
        <servlet-class>Control.devolverPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarServicios</servlet-name>
        <servlet-class>Control.listarServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarPromociones</servlet-name>
        <servlet-class>Control.listarPromociones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>devolverImagen</servlet-name>
        <servlet-class>Control.devolverImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Control.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>devolverServiciosPromocion</servlet-name>
        <servlet-class>Control.devolverServiciosPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerReservas</servlet-name>
        <servlet-class>Control.VerReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerReserva</servlet-name>
        <servlet-class>Control.VerReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facturarArticulo</servlet-name>
        <servlet-class>Control.facturarArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarReservas</servlet-name>
        <url-pattern>/listarReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>devolverReserva</servlet-name>
        <url-pattern>/devolverReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>devolverServicio</servlet-name>
        <url-pattern>/devolverServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>devolverPromocion</servlet-name>
        <url-pattern>/devolverPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarPromociones</servlet-name>
        <url-pattern>/listarPromociones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarServicios</servlet-name>
        <url-pattern>/listarServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>devolverImagen</servlet-name>
        <url-pattern>/devolverImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>devolverServiciosPromocion</servlet-name>
        <url-pattern>/devolverServiciosPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerReservas</servlet-name>
        <url-pattern>/VerReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerReserva</servlet-name>
        <url-pattern>/VerReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facturarArticulo</servlet-name>
        <url-pattern>/facturarArticulo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>bd_help4traveling</description>
        <res-ref-name>jdbc/bd_help4traveling</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
